---
import Layout from '@layouts/LayoutBase.astro';
import Hero from '@components/Hero.astro';
import ProjectMetaInfo from '@components/ProjectMetaInfo.astro';
import { getEntry, getCollection } from 'astro:content';
export async function getStaticPaths() {
	const projects = await getCollection('projects');
	return projects.map((entry) => {
		return {
			params: { slug: entry.slug },
			props: { entry },
		};
	});
};
const { entry } = Astro.props;
const { Content } = await entry.render();
const dataRaw = await getEntry('static-data', 'template-proyecto');
const dataFragments = dataRaw.data;
---

<Layout title={entry.data.title}>
	<main>
		<Hero
			textintro='Proyecto'
			maintitle={entry.data.title}
		/>
		<section class="container py-8">
			<aside>
				<ProjectMetaInfo
					client={entry.data.client}
					url={entry.data.url}
					year={entry.data.year}
				/>
			</aside>
			<div class="pt-6">
				<Content />
			</div>
			<a
				class="link-to-projects inline-block pt-8 text-xs"
				href={dataFragments.fragment_1}
				aria-label={dataFragments.fragment_2}
			>
				&#x02190; {dataFragments.fragment_3}
			</a>
      </section>
	</main>
</Layout>

<style is:global>

</style>