---
import Layout from '@layouts/layout-base.astro';
import TextIntro from '@components/text-intro';

import { getEntry } from 'astro:content';
import { Image } from 'astro:assets';
import imageStudioMoare from '@assets/images/studio-moare-00.webp';
const dataRaw = await getEntry('static-data', 'page-index-ca');
const dataFragments = dataRaw.data;
---

<Layout title={dataFragments.fragment_4} description="Un estudi de disseny i desenvolupament web en Barcelona" includeFooter={false} mainMenu={false}>
	<main class="h-lvh overflow-hidden bg-m-blue-600">
		<div class="container">
			<div class="grid md:grid-cols-2 items-center h-screen">
				<div class="self-end md:self-center">
					<h1 class="text-xs text-m-orange">{dataFragments.fragment_1}</h1>
					<TextIntro
						text={dataFragments.fragment_2}
						linktodevelop={dataFragments.fragment_6}
						textlinktodevelop={dataFragments.fragment_4}
						linktodesign={dataFragments.fragment_5}
						textlinktodesign={dataFragments.fragment_3}
					/>
				</div>
				<Image src={imageStudioMoare} alt="Ilustración Studio Moaré" />
			</div>
		</div>
	</main>
</Layout>