---
import Layout from '@layouts/LayoutBase.astro';
import Hero from '@components/Hero.astro';
import Form from '@components/Form.astro';
import { getEntry } from 'astro:content';
const dataRaw = await getEntry('static-data', 'page-contacto');
const dataFragments = dataRaw.data;
---

<Layout title={dataFragments.fragment_2} includeFooter={false} description={dataFragments.fragment_2}>
	<main>
		<Hero
			maintitle={dataFragments.fragment_1}
			textintro={dataFragments.fragment_2}
			secondarycontent={dataFragments.fragment_4}
		/>
		<div class="container py-4">
			<div class="text-sm mb-4">
				<p>{dataFragments.fragment_6}</p>
				<p>{dataFragments.fragment_7}</p>
			</div>
			<Form />
		</div>
	</main>
</Layout>