---
import Layout from '@layouts/LayoutBase.astro';
import Hero from '@components/Hero.astro';

import { getEntry } from 'astro:content';
const dataRaw = await getEntry('static-data', 'page-contacto');
const dataFragments = dataRaw.data;
---

<Layout title={dataFragments.fragment_2} includeFooter={false} description={dataFragments.fragment_2}>
	<main>
		<Hero
			maintitle={dataFragments.fragment_2}
			secondarycontent={dataFragments.fragment_3}
		/>
		<div class="container pt-16 lg:pt-32">
			<div class="text-sm sm:text-l lg:text-2xl">
				<p>{dataFragments.fragment_4}</p>
				<p>{dataFragments.fragment_6}</p>
				<p>{dataFragments.fragment_7}</p>
			</div>
		</div>
	</main>
</Layout>