---
import { getLangFromUrl, useTranslations } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const translateString = useTranslations(lang);

const linktoprojectRaw = Astro.props.linktoproject;
const linktoproject = linktoprojectRaw.replace('/es', '');
const title = Astro.props.title;
const type = Astro.props.type;
const year = Astro.props.year;
const url = Astro.props.url;
---

<li class="py-4 border-b border-m-gray-300 dark:border-m-blue-800">
	<h3 class="text-l sm:text-xl lg:text-2xl">
		<a href={`/${linktoproject}`} rel="bookmark" class="border-none">{title} <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="inline feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg></a>
	</h3>
	<ul class="md:flex gap-x-2 text-xs mt-1">
		<li><span>{translateString('project')}</span>: {type}</li>
		<li><span>{translateString('projectYear')}</span>: {year}</li>
		{url
			? <li>{translateString('projectURL')}: <a href={url} rel="noopener noreferrer" target="_blank">{url}</a></li>
			: <li>&#x000D7; {translateString('projectOffLine')}.</li>
		}
	</ul>
</li>
