---
import { getLangFromUrl, useTranslations } from '@i18n/utils';
import { ClientRouter } from 'astro:transitions';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import '@styles/fonts.css';
import '@styles/global.css';

interface Props {
	title: string
	description?: string
	includeFooter?: boolean
	mainMenu?: boolean
}

const {
	title,
	description,
	includeFooter = true,
	mainMenu = true
} = Astro.props;

const lang = getLangFromUrl(Astro.url);
const translateString = useTranslations(lang);
const currentPath = Astro.url.pathname;
const { currentLocale } = Astro;
---

<!doctype html>
<html lang={currentLocale}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="alternate" hreflang="ca-ES" href="https://studiomoare.com/ca">
		<link rel="alternate" hreflang="es-ES" href="https://studiomoare.com/">
		<title>{title} - {translateString('title')}</title>
		<meta property="og:locale" content={currentLocale}>
		<meta property="og:title" content={translateString('title')}>
		<meta property="og:description" content={description}>
		<meta property="og:url" content=`https://studiomoare.com${currentPath}`>
		<meta property="og:site_name" content={translateString('title')}>
		<meta property="og:image" content="https://studiomoare.com/studio-moare.webp">
		<ClientRouter />
	</head>
	<body class="text-m-blue bg-m-beige dark:text-m-beige dark:bg-m-blue">
		<Header includeMainMenu={mainMenu} />
		<slot />
		{includeFooter && <Footer />}
	</body>
</html>

<script>
	document.addEventListener('astro:page-load', () => {
		const body = document.body;
		const containerNavigation = document.getElementById("container-navigation") as HTMLElement;
		const iconClose = document.getElementById("icon-close") as HTMLElement;
		const iconOpen = document.getElementById("icon-open") as HTMLElement;
		const mobileDropdownToggleButton = document.getElementById("mobile-dropdown-toggle");
		
		if(!containerNavigation) return;

		function toggleMobileMenu() {
			body.classList.toggle("h-dvh");
			body.classList.toggle("overflow-y-hidden");
			containerNavigation.classList.toggle("hidden");
			iconClose.classList.toggle("hidden");
			iconOpen.classList.toggle("hidden");
		}

		function closeMobileMenu() {
			body.classList.remove("h-dvh");
			body.classList.remove("overflow-y-hidden");
			containerNavigation.classList.add("hidden");
			iconClose.classList.add("hidden");
			iconOpen.classList.remove("hidden");
		}

		function handleOutsideClick(event: Event) {
			const target = event.target as HTMLElement;
			if (!target.closest("#container-navigation") && !target.closest(".mobile-dropdown-toggle")) {
				if (!containerNavigation.classList.contains("hidden")) {
					closeMobileMenu();
				}
			}
		}

		mobileDropdownToggleButton.addEventListener("click", toggleMobileMenu);
		document.addEventListener("click", handleOutsideClick);
	});
</script>